@using InorgIntegr.Models.DBResponses
@model SearchRequest

@{
    ViewData["Title"] = "Результат поиска";

    var (pubChemInfoResponse, fdbInfoResponse, dBInfoResponse) = await SearchModel.GetResponses(Model);
}

<h4>Результат поиска для вещества <b>@Model.Formula</b></h4>

@if (pubChemInfoResponse != null)
{
    <h6>Результат поиска в <b>PubChem</b></h6>
    if (pubChemInfoResponse?.Error != null)
    {   
        <p>@pubChemInfoResponse.Error</p>
    }
    else
        {
            <img src=@pubChemInfoResponse?.ImageLink />
        @foreach (var descr in pubChemInfoResponse.Descriptions)
        {
            <p>@descr</p>
        }

        @foreach (var key in pubChemInfoResponse.Ids.Keys)
        {
            <p>
                <h5>@key:</h5>
                <div>@pubChemInfoResponse.Ids[key]</div>
            </p>
        }

        @foreach (var key in pubChemInfoResponse.Properties.Keys)
        {
            <div>
                <div>@key: @pubChemInfoResponse.Properties[key]</div>
            </div>
        }
    }
}

<br/>

@if (fdbInfoResponse != null)
{
    <h6>Результат поиска в <b>FooDB</b></h6>
    if (fdbInfoResponse?.Error != null)
    {   
        <p>@fdbInfoResponse.Error</p>
    }

    else
    {
        <table>
        
            <tr>
                <th>Name</th>
                <th>NameSci</th>
                <th>NcbiId</th>
            </tr>

            @foreach (var food in fdbInfoResponse.Foods)
            {
                <tr>
                <td>@food.Name</td>
                <td>@food.NameSci</td>
                <td>@food.NcbiId</td>
                </tr>
            }

        </table>
    }
}
