@{
    ViewData["Title"] = "Поиск";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <p class="answerFormat">
            <b>Формат ответа:</b>
            <br/>

            <label>Только открыть html</label>
            @Html.RadioButton("ExportAs", ExportType.OpenHtml, true)
            <br/>

            <label>Сохранить html</label>
            @Html.RadioButton("ExportAs", ExportType.ToHtml, new { @class = "requeiredFile"})
            <br/>
            
            <label>Сохранить json</label>
            @Html.RadioButton("ExportAs", ExportType.ToJson, new { @class = "requeiredFile"})
        </p>

        <p id="choose_filename">
            <label id="choose_filename_label" hidden="hidden">Введите имя результирующего файла:</label><br />
            @Html.TextBox("Filename", "output", new { required = string.Empty, hidden="hidden"})
        </p>

        <p id="choose_db">
            <b>Выберите БД:</b>
            <br/>
            
            <label>PubChem</label>
            @Html.CheckBox("IsPubChem", true, new { required = string.Empty })
            <br/>
            
            <label>FoodB</label>
            @Html.CheckBox("IsFooDB", true, new { required = string.Empty })
            <br/>
            
            <label>BD</label>
            @Html.CheckBox("IsDB", true, new { required = string.Empty })
        </p>

        <p>
            <label>Введите формулу химического вещества</label><br />
    
            @Html.TextBox("Formula", string.Empty, new { required = string.Empty })
        </p>

        <p>
            <input value="Поиск" type="submit"/> 
        </p>
     }
</div>

<script type="text/javascript">
    var checkboxes = document.querySelectorAll('#choose_db input[type="checkbox"][required]');
    for (let checkbox of checkboxes) {
       checkbox.addEventListener('change', (event) => {
          var checkedAny = Array.prototype.slice.call(checkboxes).some(c => c.checked);
          for (let c of checkboxes)
             c.required = !checkedAny;
       })
    }

    var inputFilenameTextBox = document.querySelectorAll('#Filename')[0];
    var inputFilenameLabel = document.querySelectorAll('#choose_filename_label')[0];

    var exportFileRadioButtons = document.querySelectorAll('.answerFormat .requeiredFile');
    var exportRadioButtons = document.querySelectorAll('.answerFormat');

    for (let exportRadioButton of exportRadioButtons) {
        exportRadioButton.addEventListener('change', (event) => {
            var checkedExportFile = Array.prototype.slice.call(exportFileRadioButtons).some(c => c.checked);
            if (checkedExportFile)
            {
                inputFilenameTextBox.hidden = "";
                inputFilenameLabel.hidden = "";
            }
            else
            {
                inputFilenameTextBox.hidden = "hidden";
                inputFilenameLabel.hidden = "hidden";
            }
       })
    }
    
</script>