@{
    ViewData["Title"] = "Поиск";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    @using (Html.BeginForm("Search", "Home", FormMethod.Post))
    {
        <p>
            <b>Формат ответа:</b>
            <br/>

            <label>Открыть html</label>
            @Html.RadioButton("ExportAs", ExportType.OpenHtml, true)
            <br/>

            <label>Сохранить html</label>
            @Html.RadioButton("ExportAs", ExportType.ToHtml)
            <br/>
            
            <label>Сохранить json</label>
            @Html.RadioButton("ExportAs", ExportType.ToJson)
        </p>

        <p id="choose_db">
            <b>Выберите БД:</b>
            <br/>
            
            <label>PubChem</label>
            @Html.CheckBox("IsPubChem", true, new { required = string.Empty })
            <br/>
            
            <label>FoodB</label>
            @Html.CheckBox("IsFooDB", true, new { required = string.Empty })
            <br/>
            
            <label>BD</label>
            @Html.CheckBox("IsDB", true, new { required = string.Empty })
        </p>

        <p>
            <label>Введите формулу химического вещества</label><br />
    
            @Html.TextBox("Formula", string.Empty, new { required = string.Empty })

        </p>

        <p>
            <input value="Поиск" type="submit"/> 
        </p>
     }
</div>

<script type="text/javascript">
    var checkboxes = document.querySelectorAll('#choose_db input[type="checkbox"][required]');
    for (let checkbox of checkboxes) {
       checkbox.addEventListener('change', (event) => {
          // console.log(event.currentTarget.checked));
          var checkedAny = Array.prototype.slice.call(checkboxes).some(c => c.checked);
          for (let c of checkboxes) {
             c.required = !checkedAny;
          }
       })
    }
</script>